@media(max-width:1320px){
    .header{
        object-fit: contain;
    }
}

@media(max-width:1150px){
    .header{
        height: 570px;
    }
}
@media(max-width:1070px){
    .content__films{
    flex-wrap: wrap;
    gap: 30px;
    }
    .card__films{
        width: 47%;
    }
    .img__films{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .colection__content{
        flex-shrink: 0;
        scroll-snap-align: center;
    }
    .colection{
        overflow-x: scroll;
        padding-bottom: 10px;
        scroll-snap-type: x mandatory;
    }
}
@media(max-width:800px){
    .text__header{
        font-size: 55px;
    } 
    .text__content__header {
        max-width: 490px;
    }
}
@media(max-width:635px){
    .text__header{
        font-size: 40px;
    } 
    .text__content__header {
        max-width: 400px;
    }
    .header{
        height: 450px;
    }   
    .series__item:nth-of-type(2){
        grid-row: 3;
        grid-column: span 4;
    }
    .series__item:nth-of-type(3),
    .series__item:nth-of-type(4),
    .series__item:nth-of-type(5),
    .series__item:nth-of-type(6){
        grid-column: span 2;
    }
    .series__text{
        text-align: justify;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
.conetnt__text__img{
    flex-direction: column;
    gap: 20px;
}
}
@media(max-width:560px){
 
    .header{
        height: 400px;
    }   
    .text__nav_content{
      position: fixed;
      top: 0;
      right: 0;
      flex-direction: column;
      align-items: flex-end;
      backdrop-filter: blur(15px);
      bottom: 0;
      box-shadow: -1px 1px 14px 7px;
      transform: translateX(105%);
      transition: 0.3s linear;
    }
    .nav__linkk{
     padding: 25px 8px;   
    }
    .icon__text{
        padding: 12px 0;
    }
    .menu-btn{
        display: block;
    }  
    .menu-btn:focus+.text__nav_content{
        transform: translateX(0);
    }
    .card__films{
        width: 100%;
    }
    
}
@media(max-width:420px){
    .text__header{
        font-size: 32px;
    }
    .btn__content{
        flex-direction: column;
    gap: 30px;
    }
    .btn__content{
        justify-content: center;
        align-items: center;
    }
        .text__content__header{
            margin-top: 0;
            margin-bottom: 15px;
        }
        .series__item:nth-of-type(3),
        .series__item:nth-of-type(4),
        .series__item:nth-of-type(5),
        .series__item:nth-of-type(6){
            grid-column: span 4;
        }
        .series__name{
            font-size: 25px;
        }
}
